/*
The nav has some variations in the colors, now I use gradients. 
New fonts in the nav and footer section, I use the same logic using cards to present
 the feeds but with a new style and using "inline-flex" in the CSS codes. 
 I hope you like it!

grid-flex-box*/
.row {
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.row2 {
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto; 
}
@media only screen and (max-width: 768px) {
	.row2 {
		display: column;
		flex-wrap: wrap;
	}
}
.column {
	flex: 1;
}
[class^="column"] {
	padding: 0 0.5em;
	/*background-color: #ffffff;*/
}


/*columns spans*/
.column--2of5 { flex: 0 0 40%; }
.column--1of2 { flex: 0 0 50%; }
.column--3of5 { flex: 0 0 60%; }
.column--2of3 { flex: 0 0 66.666%; }
.column--3of4 { flex: 0 0 75%; }
.column--4of5 { flex: 0 0 80%; }

/* 100% width columns on small screens */
@media (max-width: 600px) {
	[class^="column"] {
		flex: 0 0 100%;
	}
	.mobile-column--1of2 { flex: 0 0 50%; }
	.mobile-column--2of3 { flex: 0 0 66.6666%; }
	.mobile-column--1of3 { flex: 0 0 33.3333%; }
	.mobile-column--1of4 { flex: 0 0 25%; }
}

/*css for medicinaresources blog*/
body {
	background-color: #ebe9e9;
	margin: 0;
}
/*
FOOTER BEGIN
*/
footer {
	/*background: #201830;*/
	background-image: -webkit-linear-gradient(to right, #fbcf9c, #201830);
	background-image: 	-moz-linear-gradient(to right, #fbcf9c, #201830);
	background-image: 		-o-linear-gradient(to right, #fbcf9c, #201830);
	background-image: 			linear-gradient(to right, #fbcf9c, #201830);
	margin: 0;
	padding: 0;
	position: relative;
	/*border-top: 1.5px solid #f7f7f7;*/
}
.foot-div {
	color: #F5F5DC;
	text-align: center;
	font-family: 'Bungee', cursive;
	font-size: 0.9em;
	display: flex;
	justify-content: space-around;
	align-content: stretch;
}
@media only screen and (max-width: 768px) {
	.foot-div {
		display: column;
		flex-wrap: wrap;
		font-size: 0.9rem;
	}
}
.foot-div div:hover {
	/*border-bottom: 2px solid #fbcf9c;*/
	-webkit-box-shadow: 0px 62px 114px -46px rgba(158,55,159);
		-moz-box-shadow: 0px 62px 114px -46px rgba(158,55,159);
			box-shadow: 0px 62px 114px -46px rgba(158,55,159);
}
/*
FOOTER RESPONSIVE
*/

nav img {
	width: 100%;
	object-fit: cover;
	order: 1;
}
/*
NAVBAR RESPONSIVE -- BEGIN
*/

.navbar {
	order: 2;
	display: flex;
	background-image: -webkit-linear-gradient(to left, #fbcf9c, #201830);
	background-image: 	-moz-linear-gradient(to left, #fbcf9c, #201830);
	background-image: 		-o-linear-gradient(to left, #fbcf9c, #201830);
	background-image: 			linear-gradient(to left, #fbcf9c, #201830);
	padding: 16px;
	font-family: 'Bungee', cursive;
	color: #F5F5DC;
	border-bottom: 2px solid #f7f7f7;
	box-shadow: 0px 1px 1px 1px #999999;
	text-align: center;
}
.navbar_items {
	display: flex;
}
.navbar a {
	text-decoration: none;
	color: white;
}
.navbar a:hover {
	border-top: 2px solid #fbcf9c;
}
.navbar a:active {
	transform: scale(0.9);
}
/*
MEDIA QUERY 
*/
@media only screen and (min-width: 768px) {
	.navbar_link-toogle {
		display: none;
	}
	.navbar_link {
	padding-right: 50px;
	padding-left: 50px;
	}
	.navbar {
		margin-top: -24px;
		justify-content: center;
	}
}
@media only screen and (max-width: 768px) {
	.navbar, 
	.navbar_items {
		flex-direction: column;
		font-size: 0.9em;
	}
	.navbar_items {
		display: none;
	}
	.navbar_ToggleShow {
		display: flex;
	}
	.navbar_link-toogle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	}
	.navbar_link {
	padding-right: 8px;
	}
	.navbar {
		margin-top: -25px;
	}
}

/*
NAVBAR RESPONSIVE -- END
*/
.noticias1 {
	height: 500px;
	padding: 20px;
	margin: 0;
}

/*Noticia principal 1*/
.notpri {
	background-color: #ffffff;
	/*height: 90%;*/
	margin-top: 3%;
	border-radius: 15px;
	border: 1px solid #dbdcff;
	box-shadow: 0px 1.2px 3.2px 0.2px #b2abb5;
	transition: .3s;
}
.notpri:hover {
	box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
		-webkit-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
			-moz-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
	transform: scale(1.05,1.05);
}
.notpri a {
	text-decoration: none;
}
.np1 img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-right: 1px dashed #afafaf;
}
.title-mrn {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: 	#afafaf;
	margin-left: 5%;
}
.title-principal {
	margin-left: 5%;
	color: #4f5b66;
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
}
.title-principal-50 {
	margin-left: 5%;
	color: #4f5b66;
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
}
.parafo-prin {
	margin-left: 10%;
	margin-right: 10%;
	color: #4f5b66;
	font-family: 'Kalam', cursive;
	font-size: 1.2em;
	line-height: 150%;
}
/*
ALL RESPONSIVE WEB FOR POSTS 
MAYBE #1
*/
@media only screen and (min-width: 769px) {
	.notpri {
		margin-right: 10%;
		margin-left: 10%;
	}
	.np1 img {
		border-radius: 15px;
	}
}
@media only screen and (max-width: 768px) {
	.notpri {
		justify-content: center;
		width: 100%;
	}
	.title-principal {
		font-size: 1.8em;
	}
	.np1 img {
		width: 150%;
		height: 90%;
		border-right: none;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-bottom: 1px dashed #afafaf;
	}
	.circle-parrafo {
		margin-left: 26%;
		margin-top: -45px;
		
	}
}

/*circle*/
.circle {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	color: #3b444b;
	background-image: url(https://s3-us-west-2.amazonaws.com/www.medicinaresources.com/blog+medicinaresources/imagenes/jorge.JPG);
	background-size: 50px;
	border: 2px solid #dbdcff;
	margin-left: 5%;
	float: left;
}
.circle-parrafo {
	color: #a92a56;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2rem;
	float: right;
	margin-right: 10%;
}



/*Noticias 2*/
.noticias2 {
	background-color: #ebe9e9;
	padding: 20px;
	margin: 0;
	
}
.noti2 {
	background-color: #ffffff;
	height: 700px;
	border-radius: 15px;
	border: 1px solid #dbdcff;
	box-shadow: 0px 1.2px 3.2px 0.2px #b2abb5;
	transition: .3s;
}
.noti2:hover {
	box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
		-webkit-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
			-moz-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
	transform: scale(1.05,1.05);
}
.noti3 {
	background-color: #ffffff;
	/*width: 100%;*/
	height: 700px;
	border-radius: 15px;
	border: 1px solid #dbdcff;
	box-shadow: 0px 1.2px 3.2px 0.2px #b2abb5;
	transition: .3s;
}
.noti3:hover {
	box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
		-webkit-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
			-moz-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
	transform: scale(1.05,1.05);
}
@media only screen and (min-width: 768px) {
	.noti2 {
		margin-left: 20%;/*invertido*/
		margin-right: 5%;
	}
	.noti3 {
		margin-right: 20%;
		margin-left: 5%;/*invertido*/
	}
	.window-link-n2 img {
		height: 40%;
	}
	.window-link-n3 img {
		height: 40%;
	}
}
/*
RESPONSIVE WEB 
*/
@media only screen and (max-width: 768px) {
	.noti2 {
		margin-top: 55%;
		height: all;
	}
	.noti3 {
		margin-top: 5%;
		height: 105%;
		margin-bottom: 5%;
	}
	.window-link-n2 img {
		height: 20%;
	}
	.window-link-n3 img {
		height: 20%;
	}
	footer {
		margin-top: 15%;
	}
}
/* IPHONE 6 */
@media (min-width: 375px) and (max-width: 665px) {
	.noti2 {
		margin-top: 65%;
	}
}
.window-link-n2 img {
	width: 100%;
	border-bottom: 1px dashed #afafaf;
	position: relative;
	top: 0;
	left: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.window-link-n3 img {
	width: 100%;
	border-bottom: 1px dashed #afafaf;
	position: relative;
	top: 0;
	left: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.noti2 a {
	text-decoration: none;
}
.noti3 a {
	text-decoration: none;
}

/*circle*/
.circle-devorah {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	color: #3b444b;
	background-image: url(https://s3-us-west-2.amazonaws.com/www.medicinaresources.com/blog+medicinaresources/imagenes/IMG_5989.JPG);
	background-size: 50px;
	display: right;
	border: 2px solid #dbdcff;
	margin-left: 5%;
	float: left;
}
.circle-eira {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	color: #3b444b;
	background-image: url(https://s3-us-west-2.amazonaws.com/www.medicinaresources.com/blog+medicinaresources/imagenes/IMG_5974.JPG);
	background-size: 50px;
	border: 2px solid #dbdcff;
	margin-left: 5%;
	float: left;
	margin-top: -20px;

}
.circle-parrafo-closer {
	color: #a92a56;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2rem;
	float: left;
	margin-left: 1%;
	text-align: justify;
}
.up20 {
	margin-top: -5px;
}
/*
RESPONSIVE
*/
