/*grid-flex-box*/
.row {
	max-width: 1280px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.column {
	flex: 1;
}
[class^="column"] {
	padding: 0 0.5em;
	/*background-color: #ffffff;*/
}


/*columns spans*/
.column--2of5 { flex: 0 0 40%; }
.column--1of2 { flex: 0 0 50%; }
.column--3of5 { flex: 0 0 60%; }
.column--2of3 { flex: 0 0 66.666%; }
.column--3of4 { flex: 0 0 75%; }
.column--4of5 { flex: 0 0 80%; }

/* 100% width columns on small screens */
@media (max-width: 600px) {
	[class^="column"] {
		flex: 0 0 100%;
	}
	.mobile-column--1of2 { flex: 0 0 50%; }
	.mobile-column--2of3 { flex: 0 0 66.6666%; }
	.mobile-column--1of3 { flex: 0 0 33.3333%; }
	.mobile-column--1of4 { flex: 0 0 25%; }
}
body {
	min-height: 100%;
	background-color: #ebe9e9;
	margin: 0;
	font-size: 100%;
}
footer {
	/*background: #201830;*/
	background-image: -webkit-linear-gradient(to right, #9e379f, #201830);
	background-image: 	-moz-linear-gradient(to right, #9e379f, #201830);
	background-image: 		-o-linear-gradient(to right, #9e379f, #201830);
	background-image: 			linear-gradient(to right, #9e379f, #201830);
	margin: 0;
	padding: 0;
	position: relative;
	height: 50px;
}
footer span {
	color: #F5F5DC;
	text-align: center;
	font-family: 'Bungee', cursive;
	margin-top: 10%;
	margin-left: 12.33%; 
	font-size: 0.9em;
}
footer span:hover {
	border-bottom: 2px solid #9e379f;
	-webkit-box-shadow: 0px 62px 114px -46px rgba(158,55,159);
		-moz-box-shadow: 0px 62px 114px -46px rgba(158,55,159);
			box-shadow: 0px 62px 114px -46px rgba(158,55,159);
}
.navtitle {
	font-family: 'Bungee', cursive;
	margin-left: 0;
	float: left;
	padding-right: 0;
	padding-left: 0;
	font-size: 1.1em;
}
nav {
	margin: 0;
	padding: 0;
	/*background: #201830;*/
	background-image: -webkit-linear-gradient(to left, #9e379f, #201830);
	background-image: 	-moz-linear-gradient(to left, #9e379f, #201830);
	background-image: 		-o-linear-gradient(to left, #9e379f, #201830);
	background-image: 			linear-gradient(to left, #9e379f, #201830);
	overflow: hidden;
	margin-top: 0px;
	box-shadow: -1px 5px 5px -4px #2c2f33;
	height: 61px;
	position: relative;
}
 ul {
	list-style: none;
	text-align: center;
	overflow: hidden;
}
.onlynav li {
	display: inline-block;
}
.onlynav li a {
	padding-left: 40px;
	padding-right: 40px;
	color: #F5F5DC;
	text-decoration: none;
	display: block;
}
.nava1 {
	font-family: 'Bungee', cursive;
	margin-left: 5px;
	margin-right: 5px; 
	float: right;
}
.onlynav li a:hover {
	/*background-color: 	#493267;
	/*-webkit-box-shadow: inset -15px -15px 125px -35px rgba(32,24,48,1);
		-moz-box-shadow: inset -15px -15px 125px -35px rgba(32,24,48,1);
			box-shadow: inset -15px -15px 125px -35px rgba(32,24,48,1);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;*/
	border-top: 2px solid #9e379f;
}
.onlynav li a:active {
	transform: scale(0.9);
}
.onlynav li a:active {
	color: #fff;
}
ul li img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-size: 40px;
	position: absolute;
	margin-top: -45px;
	margin-left: -55px;
}
.hojapost {
	background-color: #ffffff;
	margin-top: 3%;
	margin-bottom: 4%;
	margin-right: 2%;
	margin-left: 2%;
	border-radius: 2px;
	border: 1px solid #dbdcff;
	box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
-webkit-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
-moz-box-shadow: 0px 3px 148px -26px rgba(184,159,159,0.75);
}
.inlinediv {
	
	display: inline-flex;
}
.post-left {
	background: #ebe9e9;
	height: 600px;
	/*padding: 1%;*/
	width: 27.78%;
	margin: 0;
	margin-left: 3.7%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 15px;
	border: 2px solid #afafaf;
	background-image: -webkit-linear-gradient(to right, #ebe9e9, #f2f2f2);
	background-image: 	-moz-linear-gradient(to right, #ebe9e9, #f2f2f2);
	background-image: 		-o-linear-gradient(to right, #ebe9e9, #f2f2f2);
	background-image: 			linear-gradient(to right, #ebe9e9, #f2f2f2);
	-webkit-box-shadow: 2px 2px 16px 0px rgba(175, 175, 175, 0.42);
-moz-box-shadow:    2px 2px 16px 0px rgba(175, 175, 175, 0.42);
box-shadow:         2px 2px 16px 0px rgba(175, 175, 175, 0.42);
}
.post-left:hover {
	/*opacity: 0.8;*/
}
.imga1 {
	width: 100%;
	height: 40%;
	position: inherit;
	top: 0;
	left: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
	border-bottom: 2px dashed #afafaf; 
	opacity: 0.8;
}
.hra1 {
	border: 2px dashed #afafaf;
	margin-left: 45%;
	margin-right: 45%;
}
.h2a1 {
	color: #4f5b66;
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 1.8em;
}
.pa1 {
	text-align: center;
	color: 	#65737e;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-left: 7%;
	padding-right: 7%;
	font-size: 1.4em;
}
.buttona1 {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.4em;
	color: 	#b62020;
	background-color: #e59393;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
	padding: 3%;
	margin-left: 35.3%;
}
.buttona1:hover {
	background-image: -webkit-linear-gradient(to right, #fc3468, #ff6289);
	background-image: 	-moz-linear-gradient(to right, #fc3468, #ff6289);
	background-image: 		-o-linear-gradient(to right, #fc3468, #ff6289);
	background-image: 			linear-gradient(to right, #fc3468, #ff6289);
	color: 	#ffc2cd;
	box-shadow: 0 2px 25px rgba(255,0,101, 0.5);
	transition: all ease-in-out 0.5s;
}
.buttona1:active {
	transform: scale(0.9);
	background-color: darken(#ff6289, 5%);
}
